@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-mountain {
	background-image: url('/src/assets/mountain.jpg');
}


::-webkit-scrollbar {
    display: none;
}


.complete {
	text-decoration: line-through;
	text-decoration-color: red;
  }
  
